[submodule "dotnet-runtime"]
	path = src/dotnet-runtime
	url = git@github.com:rzikm/dotnet-runtime.git
[submodule "extern/akamai-openssl-quic"]
	path = extern/akamai-openssl-quic
	url = git@github.com:akamai/openssl.git
